export TWILIO_API_KEY=""
export WATSON_PI_URL="https://gateway.watsonplatform.net/personality-insights/api"
export WATSON_PI_USERNAME=""
export WATSON_PI_PASSWORD=""

export CORPUS_PROFILE_DIR="corpus-profiles"
